* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}  
body{ 
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Merienda', cursive;
    Font-size: 25px;

    background-image: url("Leopard/africa.jpg");

}
main{   
    background: #FDC830;  
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  
    background: linear-gradient(to right, #F37335, #FDC830); 
    border-radius: 5%;
    width: 800px;
    max-width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
    box-shadow: 0 0 50px 10px;
}


header{
    position: relative;
    bottom: 40px;
    left: 300px 
   
}

li{
    list-style-type: none;
    padding: 3px;
    border-radius: 5%;
    font-size: 20px;
}

h4{
    position: relative;
    top: 40px;
   
}

.beginningContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.questionContainer{
    display: flex;
    text-align: center;
}


.feedBackBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 

}


.resultBox{
    display:flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    
}


.nextButton{
    margin-top: 30px;
    margin-bottom: 60px;
    
}

button {
    
    margin-left: 2px;
    border-radius: 8%;
    padding: 0 25px 0 25px;
    font-size: 25px;
    margin-top: 50px;
    background-color:#cbcaa5;
    font-family: 'Merienda', cursive;
}

img{
    border-radius: 50%;
    box-shadow: 0 0 30px 10px;
    margin-top: 10px;
}



.mainLeopard{
    height: 170px;
    width: 250px; 
}

label{
    display: block;
    margin-bottom: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:#F37335;
    }


fieldset{
    border-width: 0;
}

span{
    font-size: 20px;
}




@media screen and (max-width: 320px) {


    .mainLeopard{
        height: 150px;
        width: 230px; 
    }

    img.leopardResponse{
        height: 150px;
        width: 200px;
    }

}


@media screen and (max-width: 500px) {
    
    .feedBackBox{
        font-size: 20px;
    }


    h4{
        display: none; 
    }

    h3{
        display: none;
    } 



    .leopardResponse{
        height: 200px;
        width: 250px;
    }

    button{
        margin-top:10px;
    }

}


@media screen and (max-width: 920px) {

    header{
        position: relative;
        left: 5px;

    }
    li{
        display: inline-block;
    }


    .feedBackBox{
        padding: 0 60px 0 60px;
        text-align: center;
    }
}


@media screen and (min-width: 920px) {



    .feedBackBox{
        padding: 0 60px 0 60px;
        text-align: center;
    }
}


  
